.contactMainSection {
    margin: 0;
    background: url('../assets/contactBG.svg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.contactInfo {
display: flex;
flex-direction: column;
justify-content: space-between;
}