.prices {
    box-sizing: border-box;
    background: url('../assets/pricesBG.svg') no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 2rem;

    h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 88px;
        text-align: center;
        letter-spacing: -0.015em;

        color: #EC9B85;
    }

    .pricesContainerService {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background: linear-gradient(180deg, rgba(249, 217, 207, 0.75) 0%, rgba(234, 209, 202, 0.75) 100%);;
        border-radius: 30px;
        margin: 1.5rem 0 1.5rem 0;
    }
}